/* Body */
body {
    font-family:Roboto;
    background-color: #FFFFED;
    color:#000000;
}

/* sizing */

h1,h3,h4,h4,h5,h6 {
  
    font: size 100pt;
    text-align: center;
}

/*Sizing for hobbie*/

h2{
    font-size: 15pt;
    text-align: center;
}

/* Header */

#header {
    text-align:center;
}

/* Colors */

#hero, footer {
    color:#000000;
    border: 7px solid #7DBBFE;
    background-color:#7DBBFE;
    text-align:center;
    padding: 10px;;
}

/* Bitmomji size */

#hero img {
    width: 150px;;
}

/* Bio */

#bio{
    text-align:center ;
    
}

/* hobbies */

#hobbies {
    color: darkblue;
    text-align: start;
}

#gallery {
    text-align: center;
    border: 10px solid #7DBBFE;
    max-width: 100%;
    padding-bottom: 5%;
    margin-bottom: 3rem;;
}

#lit {
    border: 10px solid #7DBBFE;
    padding: 5rem ;
    margin: 0 auto;
}

#lit div p:nth-child(3n+1):first-letter {
    color: #3267A1;
    background-image:radial-gradient (#FFF,#A3721C);
    float:left; 
    font-size:3em; 
    padding:.25em;
    margin-right:.25em; 
    line-height:.65; 
    border:4px outset #3267A1;
    font-family: "Grenze Gotisch";
    text-shadow:2px 2px 3px rgba(0,0,0,.5);
    box-shadow:5px 5px 5px rgba(0,0,0,.5);
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
}
