body {
    font-family:Roboto;
    background-color: #FFFFED;
    color:#000000;
}

h1,h2,h3,h4,h4,h5,h6 {
  
    font: size 100pt;
    text-align: center;
}

header {
    text-align:center;
}

#hero, footer {
    color:#000000;
    border: 7px solid #7DBBFE;
    background-color:#7DBBFE;
    text-align:center;
    padding: 10px;;
}

#hero img {
    width: 150px;;
}

#bio{
    text-align: center;
}

#hoobies {
    color
}
